<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>AiFy Login</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,600;1,600&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script>
      $(function () {
        const abc = (formId, route, extrafields = {}) => {
          $(formId + " .fa-spinner").show();
          $(formId + " .btnTitle").hide();
          $.post({
            url: route,
            data: JSON.stringify({
              email: $(formId + " input[name='email']").val(),
              password: $(formId + " input[name='password']").val(),
              ...extrafields,
            }),
            contentType: "application/json",
          })
            .done(() =>
              extrafields?.name
                ? $(formId + " .alert")
                    .text("Email verification link sent!")
                    .slideDown()
                : window.location.reload()
            )
            .fail((res) => {
              $(formId + " .alert")
                .text(res.responseText)
                .slideDown();
              $(formId + " .fa-spinner").hide();
              $(formId + " .btnTitle").show();
            });
        };
        $("#sign-in-form").submit((e) => {
          e.preventDefault();
          abc("#sign-in-form", "/auth/email");
        });
        $("#sign-up-form").submit((e) => {
          e.preventDefault();
          abc("#sign-up-form", "/auth/register", {
            name: $("#sign-up-form input[name='name']").val(),
          });
        });
      });
    </script>
  </head>

  <body>
    <div class="container">
      <div class="signin-signup">
        <form id="sign-in-form">
          <img src="/NewLogo.svg" alt="Logo" style="width: 100px" srcset="" />
          <!-- <h2 class="title">Sign in</h2> -->
          <% if(unverfied){ %>
          <div class="alert" style="display: block">
            Please verify your email first
          </div>
          <% } else{ %>
          <div class="alert"></div>
          <% } %>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Email" name="email" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password" />
          </div>
          <button type="submit" class="btn">
            <i
              class="fa fa-spinner"
              style="margin: 0 5px; font-size: 20px; display: none"
            ></i
            ><span class="btnTitle">Login</span>
          </button>
          <p class="" social-text>Or Sign in with social platform</p>
          <div class="social-media">
            <a href="/auth/google" class="social-icon"
              ><i class="fab fa-google"></i
            ></a>
          </div>
          <p class="account-text">
            Don't have an account? <a id="sign-up-btn2">Sign up</a>
          </p>
        </form>
        <form id="sign-up-form">
          <img src="/NewLogo.svg" alt="Logo" style="width: 100px" srcset="" />
          <!-- <h2 class="title">Sign up</h2> -->
          <div class="alert"></div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Name" name="name" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="text" placeholder="Email" name="email" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password" />
          </div>
          <button type="submit" class="btn">
            <i
              class="fa fa-spinner"
              style="margin: 0 5px; font-size: 20px; display: none"
            ></i
            ><span class="btnTitle">Sign up</span>
          </button>
          <p class="" social-text>Or Sign in with social platform</p>
          <div class="social-media">
            <a href="/auth/google" class="social-icon"
              ><i class="fab fa-google"></i
            ></a>
          </div>
          <p class="account-text">
            Already AiFying?<a id="sign-in-btn2">Sign in</a>
          </p>
        </form>
      </div>
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Already AiFying?</h3>
            <p>Sign in to start AiFying!</p>
            <button class="btn" id="sign-in-btn">Sign in</button>
          </div>
          <img src="signin.svg" alt="" class="image" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>New to AiFy?</h3>
            <p>Join the community by signing up and AiFy!</p>
            <button class="btn" id="sign-up-btn">Sign up</button>
          </div>
          <img src="signup.svg" alt="" class="image" />
        </div>
      </div>
    </div>
  </body>
  <script src="script.js
"></script>
</html>
